<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Companion</title>

    <!-- Bootstrap -->
	<link href='http://fonts.googleapis.com/css?family=Raleway:300' rel='stylesheet' type='text/css'>
    <link href="/style/bootstrap.css" rel="stylesheet">
	<link href="/style/extras.css" rel="stylesheet">
	

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
	<nav class="navbar navbar-default navbar-fixed-top" role="navigation" id="home-nav">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="userlanding.html"><strong>Comp</strong>anion</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<a href="#home"></a>
					<li><a href="users.html">Users</a></li>
					<li><a href="teams.html">Teams</a></li>
					<li><a href="tournaments.html">Tournaments</a></li>
				</ul>
				
					<p class="navbar-text navbar-right">Signed in as <a href="profile.php?userid={$current_user->ID}" class="navbar-link white-t">{$current_user->Username}</a></p>

				
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>
	
	
		<div class="jumbotron text-center no-b-pad white-b blue-t">
			<h1>Welcome, {$current_user->Username}</h1>
			<hr class="blue">
			<div class="col-md-offset-4 col-md-4 col-md-offset-4">
			<a href="team-create.html" class="btn btn-default btn" role="button"><span class="glyphicon glyphicon-plus"></span> Team</a>
			<a href="profile.html" class="btn btn-default btn" role="button">Profile</a>
			<a href="competition-create.html" class="btn btn-default btn" role="button"><span class="glyphicon glyphicon-plus"></span> Competition</a>
			</div>
			<br>
		</div>
		<div class="blue-b white-t">
		<div class="container">
			<div class="col-md-6">
				<h2>Teams</h2>
				<ul class="pager">
					<li class="previous"><a href="#">Previous</a></li>
					<li class="next"><a href="#">Next</a></li>
				</ul>
				<div class="list-group">
					<a href="#" class="list-group-item"> 
						Pool 1st Team
						<span class="hidden-xs pull-right">
							<span class="badge">Pool</span>
						</span>
						<span class="visible-xs">
							<div class="row container">
							<span class="badge">Pool</span>
							</div>
						</span>
					</a>
					<a href="team-show.html" class="list-group-item"> 
						Eastwood Tropics
						<span class="hidden-xs pull-right">
							<span class="badge">Football</span>
						</span>
						<span class="visible-xs">
							<div class="row container">
							<span class="badge">Football</span>
							</div>
						</span>
					</a>
					<a href="#" class="list-group-item"> 
						Computer Science
						<span class="hidden-xs pull-right">
							<span class="badge">Football</span>
						</span>
						<span class="visible-xs">
							<div class="row container">
							<span class="badge">Football</span>
							</div>
						</span>
					</a>
				</div>
			</div>
			
			<div class="col-md-6">
				<h2>Competitions</h2>
				<ul class="pager">
					<li class="previous"><a href="#">Previous</a></li>
					<li class="next"><a href="#">Next</a></li>
				</ul>
				<div class="list-group">
					<a href="competition-show.html" class="list-group-item"> 
						IHFC
						<span class="hidden-xs pull-right">
							<span class="badge">Eastwood Tropics</span>
							<span class="badge">1st</span>
						</span>
						<span class="visible-xs">
							<div class="row container">
							<span class="badge">Eastwood Tropics</span>
							<span class="badge">1st</span>
							</div>
						</span>
					</a>
					<a href="#" class="list-group-item"> 
						IDFC
						<span class="hidden-xs pull-right">
							<span class="badge">Computer Science</span>
							<span class="badge">8th</span>
						</span>
						<span class="visible-xs">
							<div class="row container">
							<span class="badge">Computer Science</span>
							<span class="badge">8th</span>
							</div>
						</span>
					</a>
				</div>	
			</div>
		</div>
		<br>
		</div>
		
		<div class="white-b blue-t">
		<div class="container">
			<div class="col-md-6">
				<h2>Recent Results</h2>
				<div class="list-group">
					<a href="fixture-show.html" class="list-group-item"> 
						vs Westwood A
						<span class="hidden-xs pull-right">
							<span class="badge">Eastwood Tropics</span>
							<span class="badge">IHFC</span>
							<span class="badge">2-1</span>
						</span>
						<span class="visible-xs">
							<div class="row container">
							<span class="badge">Eastwood Tropics</span>
							<span class="badge">IHFC</span>
							<span class="badge">2-1</span>
							</div>
						</span>
					</a>
					<a href="#" class="list-group-item"> 
						vs Natural Sciences
						<span class="hidden-xs pull-right">
							<span class="badge">Computer Science</span>
							<span class="badge">IDFC</span>
							<span class="badge">0-5</span>
						</span>
						<span class="visible-xs">
							<div class="row container">
							<span class="badge">Computer Science</span>
							<span class="badge">IDFC</span>
							<span class="badge">0-5</span>
							</div>
						</span>
					</a>
					<a href="#" class="list-group-item"> 
						vs City
						<span class="hidden-xs pull-right">
							<span class="badge">Eastwood Tropics</span>
							<span class="badge">IHFC</span>
							<span class="badge">3-0</span>
						</span>
						<span class="visible-xs">
							<div class="row container">
							<span class="badge">Eastwood Tropics</span>
							<span class="badge">IHFC</span>
							<span class="badge">3-0</span>
							</div>
						</span>
					</a>
				</div>
			</div>
			
			<div class="col-md-6">
				<h2>Upcoming Fixtures</h2>
				<div class="list-group">
					<a href="#" class="list-group-item"> 
					vs. Norwood
						<span class="hidden-xs pull-right">
							<span class="badge">Eastwood Tropics</span>
							<span class="badge">IHFC</span>
						</span>
						<span class="visible-xs">
							<div class="row container">
							<span class="badge">Eastwood Tropics</span>
							<span class="badge">IHFC</span>
							</div>
						</span>
					</a>
					<a href="#" class="list-group-item"> 
					vs. Maths
						<span class="hidden-xs pull-right">
							<span class="badge">Computer Science</span>
							<span class="badge">IDFC</span>
						</span>
						<span class="visible-xs">
							<div class="row container">
							<span class="badge">Computer Science</span>
							<span class="badge">IDFC</span>
							</div>
						</span>
					</a>
				</div>	
			</div>
			<div class="col-md-12">
				<a href="user-fixtures.html" class="btn btn-default btn-block" role="button">Show All</a>
			</div>
		</div>
		<br>
		</div>
	


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
	
	
  </body>
</html>
