<div class="row">
  <div class="jumbotron text-center">
    <h1><b>Comp</b>anion</h1>
    <h3>The University of Bath <b>Comp</b>etition Tracker</h3>
    <button class="btn btn-lg btn-success">Get Started!</button>
  </div>
</div>
<div class="jumbotron text-center">
  <div class="row">
    <div class="col-md-4">
      <h2>Track</h2>
      <ul class="">
        <li class="small">Multiple competitions</li>
        <li class="small">Upcoming fixtures</li>
        <li class="small">Previous results</li>
        <li class="small">League tables</li>
      </ul>
    </div>
    <div class="col-md-4">
      <h2>Input</h2>
      <ul class="">
        <li class="small">Competition format</li>
        <li class="small">Team names</li>
        <li class="small">Results</li>
        <li class="small">Automatic fixture generation</li>
        <li class="small">Freedom built on automation</li>
      </ul>
    </div>
    <div class="col-md-4">
      <h2>Share</h2>
      <ul class="">
        <li class="small">Competition comment box</li>
        <li class="small">Facebook</li>
        <li class="small">Twitter</li>
      </ul>
    </div>
  </div>
</div>