<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Companion</title>

    <!-- Bootstrap -->
	<link href='http://fonts.googleapis.com/css?family=Raleway:300' rel='stylesheet' type='text/css'>
    <link href="style/bootstrap.css" rel="stylesheet">
	<link href="style/extras.css" rel="stylesheet">
	

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
	<nav class="navbar navbar-default navbar-fixed-top" role="navigation" id="home-nav">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#home"><strong>Comp</strong>anion</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<a href="#home"></a>
					<li><a href="#what">What?</a></li>
					<li><a href="#why">Why?</a></li>
					<li><a href="#about">About</a></li>
					<li><a href="#contact">Contact</a></li>
				</ul>
		  
		  			<p class="navbar-text navbar-right"><a href="login.php" class="navbar-link white-t">Sign in</a></p>
		  
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>
	
		<div class="scroll-adjust" id="home">
		<div class="jumbotron text-center no-b-pad white-b blue-t">
			<h1><strong>Comp</strong>anion</h1>
			<h2>The University of Bath Competition App</h2>
			<a href="login.php" class="btn btn-default btn-lg" role="button">Enter</a>
		</div>
		</div>
		<div class="scroll-adjust" id="what">
			<div class="text-center no-b-pad blue-b white-t">
				<div class="container">
					<div class="col-xs-12">
						<h1>Introducing <strong>Comp</strong>anion</h1>
						<br>
					</div>

					
					<div class="row">
						<div class="col-sm-4 col-xs-12">
							<div class="col-sm-offset-4 col-sm-4 col-sm-offset-4 col-xs-offset-4 col-xs-4 col-xs-offset-4">
								<img src="media/+2.png" alt="edit" class="img-responsive">
							</div>
							<div class="visible-xs col-xs-12">
								<br>
								<h4>Create or join teams & competitions, and be ready to compete!</h4>
								<hr>
							</div>
						</div>
						<div class="col-sm-4 col-xs-12">
						
							<div class="col-sm-offset-4 col-sm-4 col-sm-offset-4 col-xs-offset-4 col-xs-4 col-xs-offset-4">
								<img src="media/editcog-2.png" alt="edit" class="img-responsive">
							</div>
							<div class="visible-xs col-xs-12">
								<br>
								<h4>Create or join teams & competitions, and be ready to compete!</h4>
								<hr>
							</div>
						</div>
						<div class="col-sm-4 col-xs-12">
							<div class="col-sm-offset-4 col-sm-4 col-sm-offset-4 col-xs-offset-4 col-xs-4 col-xs-offset-4">
								<img src="media/view.png" alt="edit" class="img-responsive">
							</div>
							<div class="visible-xs col-xs-12">
								<br>
								<h4>Create or join teams & competitions, and be ready to compete!</h4>
								<br>
							</div>
						</div>
					</div>
						
					
					
					
					<div class="hidden-xs">
						<div class="col-sm-4">
							<h3>Create or join teams & competitions, and be ready to compete!</h3>
						</div>
						<div class="col-sm-4">
							<h3>Edit your teams, competitions and profile for others to see</h3>
						</div>
						<div class="col-sm-4">
							<h3>See how your teams are getting on in different competitions</h3>
						</div>
					</div>
					
				</div>
				<br>
					
					
				</div>
				
			</div>
		
	
		<div class="scroll-adjust" id="why">
			<div class="text-center no-b-pad white-b blue-t">
				<div class="container">
					<div class="col-xs-12">
						<h1>Why use <strong>Comp</strong>anion?</h1>
						<br>
					</div>

					

				
					<div class="row">
						<div class="col-sm-4 col-xs-12">
							<div class="col-sm-offset-4 col-sm-4 col-sm-offset-4 col-xs-offset-4 col-xs-4 col-xs-offset-4">
								<img src="media/bath.png" alt="edit" class="img-responsive">
							</div>
							<div class="visible-xs col-xs-12">
								<br>
								<h4>Create or join teams & competitions, and be ready to compete!</h4>
								<hr class="blue">
							</div>
						</div>
						<div class="col-sm-4 col-xs-12">
						
							<div class="col-sm-offset-4 col-sm-4 col-sm-offset-4 col-xs-offset-4 col-xs-4 col-xs-offset-4">
								<img src="media/spread.png" alt="edit" class="img-responsive">
							</div>
							<div class="visible-xs col-xs-12">
								<br>
								<h4>Create or join teams & competitions, and be ready to compete!</h4>
								<hr class="blue">
							</div>
						</div>
						<div class="col-sm-4 col-xs-12">
							<div class="col-sm-offset-4 col-sm-4 col-sm-offset-4 col-xs-offset-4 col-xs-4 col-xs-offset-4">
								<img src="media/time.png" alt="edit" class="img-responsive">
							</div>
							<div class="visible-xs col-xs-12">
								<br>
								<h4>Create or join teams & competitions, and be ready to compete!</h4>
								<br>
							</div>
						</div>
					</div>	
						
					
					
					
					<div class="hidden-xs">
					
						<div class="col-sm-4">
							<h3>The University of Bath has no centralized competition tracking portal</h3>
						</div>
						<div class="col-sm-4">
							<h3>Are you sick of spreadsheets? We are</h3>
						</div>
						<div class="col-sm-4">
							<h3>Who has time for the all the organisation?</h3>
						</div>
						
					</div>
					
				</div>
				<br>
			</div>
		</div>
		<div class="scroll-adjust" id="about">
			<div class="text-center no-b-pad blue-b white-t">
				<div class="container">
					<div class="col-xs-12">
					<h1>The <strong>Comp</strong>anion team</h1>
					<h2><strong>Apollos</strong>Nest</h2>
					
					<hr>
					</div>
				

					


					<div class="col-sm-2">
						<h2><strong>Leon</strong></h2>
						<div class="hidden-xs">
						<hr>
						</div>
						<h3>Login Legend</h3>
						<div class="visible-xs">
						<hr>
						</div>
					</div>
					<div class="col-sm-2">
						<h2><strong>Catrin</strong></h2>
						<div class="hidden-xs">
						<hr>
						</div>
						<h3>Design Destroyer</h3>
						<div class="visible-xs">
						<hr>
						</div>
					</div>
					<div class="col-sm-2">
						<h2><strong>Perry</strong></h2>
						<div class="hidden-xs">
						<hr>
						</div>
						<h3>PHP Prince</h3>
						<div class="visible-xs">
						<hr>
						</div>
					</div>
					<div class="col-sm-2">
						<h2><strong>Gilbert</strong></h2>
						<div class="hidden-xs">
						<hr>
						</div>
						<h3>SQL Superstar</h3>
						<div class="visible-xs">
						<hr>
						</div>
					</div>
					<div class="col-sm-2">
						<h2><strong>Kyle</strong></h2>
						<div class="hidden-xs">
						<hr>
						</div>
						<h3>GUI God</h3>
						<div class="visible-xs">
						<hr>
						</div>
					</div>
					<div class="col-sm-2">
						<h2><strong>Alexander</strong></h2>
						<div class="hidden-xs">
						<hr>
						</div>
						<h3>Bracket Brainbox</h3>
						<div class="visible-xs">
						<br>
						</div>
					</div>
					
				<div class="hidden-xs col-sm-12">
				<hr>
				</div>
				
				</div>
				<br>
				
			</div>
		</div>
		<div class="scroll-adjust" id="contact">
			<div class="text-center no-b-pad white-b blue-t">
				<div class="container">
					<div class="col-xs-12">
					<h1>Contact <strong>Comp</strong>anion</h1>
					<br>
					</div>

					


					<div class="col-sm-4">
						<h2>Any questions?</h2>
						<h4>Feel free to email any of us about anything!</h4>
						<div class="visible-xs">
						<hr class="blue">
						</div>
					</div>
					<div class="col-sm-4">
						<address>
							<strong>Kyle Selman</strong><br>
							<a href="http://www.google.com/recaptcha/mailhide/d?k=01FHBpIFD_gRLtaX2kU-eblA==&c=isGA100czL0yJYvaf4tFfc_edfORkcjtSq4_29_x_xE=" target="_blank">email</a>
						</address>
						<address>
							<strong>Alexander Perry</strong><br>
							<a href="http://www.google.com/recaptcha/mailhide/d?k=01FHBpIFD_gRLtaX2kU-eblA==&c=vjwhlNDR2eIGRaZXP6H8xNyNtVgxR_8SpiLpPO3ub_I=" target="_blank">email</a>
						</address>
						<address>
							<strong>Catrin Donnelly</strong><br>
							<a href="http://www.google.com/recaptcha/mailhide/d?k=01FHBpIFD_gRLtaX2kU-eblA==&c=hy2t1f2QC30fGODqUsEHoYDO_3Q8MsY_8cY2j63rweQ=" target="_blank">email</a>
						</address>
					</div>
					<div class="col-sm-4">
						<address>
							<strong>Gilbert Holland-Lloyd</strong><br>
							<a href="http://www.google.com/recaptcha/mailhide/d?k=01FHBpIFD_gRLtaX2kU-eblA==&c=kYVN_PHNpcTxLLuYdL4TUsmgPFFomQAJVlD6WDBapIA=" target="_blank">email</a>
						</address>
						<address>
							<strong>Alexander Booth</strong><br>
							<a href="http://www.google.com/recaptcha/mailhide/d?k=01FHBpIFD_gRLtaX2kU-eblA==&c=iS3wA23SPcC-10bX_l5OTTr-TKHRpfOcwveXpPZLvZs=" target="_blank">email</a>
						</address>
						<address>
							<strong>Leon Byford</strong><br>
							<a href="http://www.google.com/recaptcha/mailhide/d?k=01FHBpIFD_gRLtaX2kU-eblA==&c=u96q-IKMEnQqpkGobHd3NuZR5AlsKE4odnEKiMTBELw=" target="_blank">email</a>
						</address>
					</div>
				</div>
			</div>
		</div>
	</div>
	


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
	
	<script src="js/jquery.nav.js"></script>
	<script type="text/javascript">
	$(document).ready(function() {
	$('#home-nav').onePageNav({
	currentClass: 'active',
	scrollThreshold: 0.1,
	});
	
	});
	
	$("a").click(function() {
		$("html, body").animate({
			scrollTop: $($(this).attr("href")).offset().top
		}, 512);
		return false;
	});
	</script>
  </body>
</html>
