<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Companion</title>

    <!-- Bootstrap -->
	<link href='http://fonts.googleapis.com/css?family=Raleway:300' rel='stylesheet' type='text/css'>
    <link href="/style/bootstrap.css" rel="stylesheet">
	<link href="/style/extras.css" rel="stylesheet">
	

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
	<nav class="navbar navbar-default navbar-fixed-top" role="navigation" id="home-nav">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="userlanding.html"><strong>Comp</strong>anion</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<a href="#home"></a>
					<li class="active"><a href="users.html">Users</a></li>
					<li><a href="teams.html">Teams</a></li>
					<li><a href="tournaments.html">Tournaments</a></li>
				</ul>
			
					<p class="navbar-text navbar-right">Signed in as <a href="profile.html" class="navbar-link white-t">{$user->Username|ucfirst}</a></p>
			
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>
	
	
		<div class="jumbotron text-center no-b-pad white-b blue-t">
			<h1>Users</h1>
		</div>
		<div class="jumbotron no-b-pad blue-b white-t">
		<div class="table-responsive">
			<table class="table">
				<thead>
					<tr>
						<th>Name</th>
						<th>Username</th>
						<th>Location</th>
						<th>Type</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><a class="white-t" href="profile.html">{$user->Username|ucfirst}</a></td>
						<td>ks563</td>
						<td>Bath, Eastwood</td>
						<td>Admin</td>
						<td><a href="#" class="btn btn-block btn-xs btn-inv" role="button"><span class="glyphicon glyphicon-minus"></span></a></td>
					</tr>
				</tbody>
			</table>
		</div>

		</div>
	


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
	
	
  </body>
</html>
