<div class="col-md-12">
  <h3>Current Tournaments</h3>
  <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Team Name</th>
          <th>Competition</th>
          <th>Position</th>
          <th>Form</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Eastwood A</td>
          <td>Interhalls</td>
          <td>1st</td>
          <td>WWWWW</td>
        </tr>
        <tr>
          <td>Computer Science</td>
          <td>IDFC Division 2</td>
          <td>7th</td>
          <td>LLLLW</td>
        </tr>
        <tr>
          <td>The League</td>
          <td>League of Legends 1</td>
          <td>Quarter Finals</td>
          <td>WWWWW</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
